$st-white: #ffffff;
$st-black: #000000;
$st-primary:#de3a74;
$st-secondary:#1e2d3b;
$st-wet-asphalt: #0088ea;
$st-pumpkin: #D25A29;
$st-clouds: #f1f5f9;
$st-emerald: #27AE60;
$st-pomegranate: #DF2029;
$st-silver: #94a3b8;
$st-asbestos: #e2e8f0;
$st-peter-river: #64748b;
$st-font-family: Roboto, "Helvetica Neue", sans-serif;
$st-menu-shadow: 0 0 transparent, 0 0 transparent, 0 0 transparent, 0 0 transparent, 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06)!important;
$st-card-shadow: 0 0 transparent, 0 0 transparent, 0 0 transparent, 0 0 transparent, 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);